<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groceryotg.android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
	
    <permission
        android:name="com.groceryotg.android.GroceryMapView.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.groceryotg.android.GroceryMapView.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock.Light">
        <!--android:theme can be one of the following: Theme.Sherlock, Theme.Sherlock.Light, or 
         Theme.Sherlock.Light.DarkActionBar, or your custom theme must use one of the 
         aforementioned as its parent. -->
         
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDzLfi42UpxNSCITqOSlUURhMXj3i6N4BQ" />
        <!--android:value="AIzaSyC7c-p21lKScqO8KfLZ_ro1SvD0v-I7bX4" />-->
        <!--use this if you are using debug.keystore-->

        <activity
            android:name=".CategoryOverView"
            android:label="@string/app_name">
        </activity>
        
        <activity 
            android:name="SplashScreen" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".GroceryOverView"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
        </activity>

        <activity
            android:name=".ShopCartOverView"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name=".ShopCartDetailView"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".GroceryMapView"
            android:label="@string/app_name">
        </activity>

        <service android:name=".services.NetworkHandler" />
        <service android:name="com.groceryotg.android.services.Location.LocationMonitorService" />
		
        <receiver android:name="com.groceryotg.android.services.Location.LocationMonitor" />
        <receiver android:name="com.groceryotg.android.services.Location.LocationReceiver" />

        <provider
            android:name=".database.contentprovider.GroceryotgProvider"
            android:authorities="com.groceryotg.android.database.contentprovider">
        </provider>
        
	
    </application>

</manifest>
