<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.grocerygo.android"
          android:versionCode="774"
          android:versionName="@string/version_name">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!-- We have to explicitly declare we support larger screen sizes -->
    <!-- We don't really care or want to support small screens, since those are generally run Donut or lower -->
    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true">
    </supports-screens>

    <permission
        android:name="ca.grocerygo.android.GroceryMapView.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <permission
        android:name="ca.grocerygo.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="ca.grocerygo.android.GroceryMapView.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--GCM permissions-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="ca.grocerygo.android.permission.C2D_MESSAGE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name="ca.grocerygo.android.GroceryApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock.Light">
        <!--android:theme can be one of the following: Theme.Sherlock, Theme.Sherlock.Light, or
         Theme.Sherlock.Light.DarkActionBar, or your custom theme must use one of the
         aforementioned as its parent. -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCKS_i0HP9HNknRoV8m14afOZyMDmYgdiY"/>
            <!--android:value="AIzaSyAJnXqmSFeniKuP1CgTJ8yUJZwdzVLP8yc"/>-->

        <activity
            android:name="ca.grocerygo.android.SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="ca.grocerygo.android.CategoryTopFragmentActivity"
            android:launchMode="singleTop"
            android:label="@string/title_main">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="ca.grocerygo.android.GroceryPagerFragmentActivity"
            android:launchMode="singleTop"
            android:label="@string/title_grocery_pager">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="ca.grocerygo.android.ShopCartOverviewFragmentActivity"
            android:label="@string/title_cart">
        </activity>

        <activity
            android:name="ca.grocerygo.android.ShopCartAddFragmentActivity"
            android:label="@string/title_cart_detail">
        </activity>
        
        <activity
            android:name="ca.grocerygo.android.ShopCartSummaryFragmentActivity"
            android:label="@string/title_cart_summary">
        </activity>

        <activity
            android:name="ca.grocerygo.android.MapFragmentActivity"
            android:label="@string/title_map">
        </activity>

        <activity
            android:name="ca.grocerygo.android.GlobalSearchFragmentActivity"
            android:launchMode="singleTop"
            android:label="@string/title_search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_global"/>
        </activity>

        <activity
            android:name="ca.grocerygo.android.settings.SettingsActivity"
            android:label="@string/title_settings">
        </activity>

        <service android:name="ca.grocerygo.android.services.NetworkHandler"/>
        <service android:name="ca.grocerygo.android.services.location.LocationMonitorService"/>

        <receiver android:name="ca.grocerygo.android.services.location.LocationMonitor"/>
        <receiver android:name="ca.grocerygo.android.services.location.LocationReceiver"/>
        <receiver
            android:name="ca.grocerygo.android.services.location.LocationServiceReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ca.grocerygo.android.services.location.LocationServiceReceiver.LOCATION_SERVICE_RECEIVER_ENABLE"/>
                <action android:name="ca.grocerygo.android.services.location.LocationServiceReceiver.LOCATION_SERVICE_RECEIVER_DISABLE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="ca.grocerygo.android.gcm.GroceryGCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="ca.grocerygo.android"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="ca.grocerygo.android.database.contentprovider.GroceryotgProvider"
            android:authorities="ca.grocerygo.android.database.contentprovider"
            android:exported="false">
        </provider>


    </application>

</manifest>
