<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/GroceryOTG</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>

        <!-- c3p0 config http://www.hibernate.org/214.html -->
        <!--<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>-->
        <!--<property name="hibernate.c3p0.acquire_increment">1</property>-->
        <!--<property name="hibernate.c3p0.idle_test_period">60</property>-->
        <!--<property name="hibernate.c3p0.min_size">1</property>-->
        <!--<property name="hibernate.c3p0.max_size">2</property>-->
        <!--<property name="hibernate.c3p0.max_statements">50</property>-->
        <!--<property name="hibernate.c3p0.timeout">0</property>-->
        <!--<property name="hibernate.c3p0.acquireRetryAttempts">1</property>-->
        <!--<property name="hibernate.c3p0.acquireRetryDelay">250</property>-->

        <!--Postgresql Dialect-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>

        <!--Log All SQL to Output-->
        <property name="show_sql">true</property>

        <!--Drop and Recreate DB schema on startup-->
        <property name="hbm2ddl.auto">create</property>

        <!--Names the Annotated Entity Class-->
        <mapping class="com.groceryotg.database.Grocery"/>
        <mapping class="com.groceryotg.database.Item"/>
        <mapping class="com.groceryotg.database.Subcategory"/>
        <mapping class="com.groceryotg.database.Category"/>
        <mapping class="com.groceryotg.database.Store"/>
        <mapping class="com.groceryotg.database.Unit"/>

    </session-factory>

</hibernate-configuration>